.user {
    /* display: flex; */
    align-items: center;
    color: navy;
    margin: 0 auto 12px auto;
  }
  
  .user:last-child {
    margin-bottom: 0;
  }
  
  .screenshot {
    border-style: solid;
    border-width: thin;
    margin: 0;
  }
  
  .excerpt {
    margin-bottom: 50px;
    font-style: oblique;
  }
  
  .name {
    margin: 0 0 12px 0;
    padding: 0;
  }