html {   
    font-family: Montserrat, sans-serif;
}

.mainPic {
    width: 450px;
    height: 600px;
    margin-bottom: 0px;
    border-radius: 50%;
    border-style: inset;
}

@keyframes fade {
    from {background-color: #96c4ff}
    to {background-color: rgba(188, 218, 255, 0.151)}
}
  
.divSpec {
    font-family: Montserrat, sans-serif;
    color: 'navy';
    background-color: rgba(188, 218, 255, 0.151);
    animation-name: fade;
    animation-duration: 2.5s;
    padding-top: 10px;
    animation-fill-mode: both;
    /* transition-timing-function: ease-in; */
}

.outerDiv {
  background: white; 
  color: navy;
  font-family: Montserrat, sans-serif;
}
  /* .outermostDiv {
    background-color: #96c4ff;
    animation-name: fade;
    animation-duration: 3.5s;
  } */